<!DOCTYPE html>
<html>
    <head>
        <title>Registration System</title>
        <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			            <span class="sr-only">Toggle navigation</span>
        			    <span class="icon-bar"></span>
        			    <span class="icon-bar"></span>
        			    <span class="icon-bar"></span>
	        		</button>
                    <a class="navbar-brand" href="#">E-Vending</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/education">Home</a></li>
                        <li><a href="">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                            <li><a href= "/login" class="">Login</a></li>
                            <li><a href="/register">SignUp</a></li>
                        <% } else { %>
                            <li><a href="" >Signed In As  <%= currentUser.username%></a></li>
                            <li><a href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
