<% include partials/header %>
<div class="container">
    <div class="jumbotron">
        <h1>E-Vending!</h1>
        <p>Time Efficient Way To Success.</p><br>
        <!--<p>User-Friendly Website</p>-->
    </div>
    <div id="color">
        <div id="heading">
            <h2>FIND, CHASE,HAVE SUPPORT ON YOUR RUN</h2>
            <p>This web application aims on providing student support through support notes and question papers</p>
        </div>
        <div class="row ">
            <div class="container">
                <div class="col col-lg-4">
                    <div class="thumbnail section">
                        <div class="thumbnail">
                            <img src="./images/books.jpg">
                        </div>
                        <a href="#">
                        <div>
                            Donate Notes
                        </div></a>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="thumbnail section">
                        <a href="#">
                        <div class="glyphicon glyphicon-tasks icon"></div>
                        <div>
                            Question Papers
                        </div></a>
                        <p>Previous Year questionPaper</p><br>
                        <p>Quesition papers are sorted branch, year, subject wise</p>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="thumbnail section">
                        <a href="/education/questions">
                        <div class="glyphicon glyphicon-signal icon"></div>
                        <div>
                            Doubts
                        </div></a>
                        <p>Students can ask doubts and can also answer different Question, related to the choosen topic</p>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="thumbnail section">
                        <a href="#">
                        <div class="glyphicon glyphicon-sound-dolby icon"></div>
                        <div>
                            Quiz
                        </div></a>
                        <p>Quizes Contains Multiple choice Question</p>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="thumbnail section">
                        <a href="#">
                        <div class="glyphicon glyphicon-btc icon"></div>
                        <div>
                            Blogs
                        </div></a>
                        <p>Write article, blog and your experience with the website</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--<ul>-->
    <!--    <li><a href="/education/questions">Q/A</a></li>-->
    <!--</ul>-->
</div>
<% include partials/footer %>
<!--thebest way if learning is practi -->
<!--so here we are with a proposed solution where they can find a plateform-->