<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
        <h1>E-Vending</h1>
        <p>A collection of notes, question papers .etc for Nitrr</p>
        <a class="btn btn-success btn-lg" href="/education">Go to Course</a>
    </body>
</html>
