<%include ../partials/header %>
<div class="container">
    <h1 style="text-align: center">New Ques!!</h1>
    <div style="margin:auto; width:50%">
        <form method="POST" action="/education/questions/new">
            <div class="form-group">
                <textarea class="form-control" type="text" name="ques" placeholder="Question goes Here!"></textarea>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="author" placeholder="author">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-info">Submit</button>
            </div>
        </form>
    </div>
</div>
<%include ../partials/footer %>
